__pycache__/
*.pyc
*.exe
*.env
.env
dist/
build/

automatizacion_exportacion/build/
automatizacion_exportacion/dist/
automatizacion_exportacion/guardar csv aqui/
*.exe
automatizacion_exportacion/build/
automatizacion_exportacion/dist/
automatizacion_exportacion/guardar csv aqui/
*.exe
